<a href="https://colab.research.google.com/github/Cyanide2119/python-training/blob/main/Python_training2b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets



1. add()
2. update()
3. remove()
4. discard()
5. clear()
6. del
7. pop()

```
1. | union()
2. & intersection()
3. - difference()
4. ^ symmetric_difference()


5. intersection_update()
6. difference_update()
7. symmetric_difference_update()

```

In [ ]:
s1={10,20,30,50,80}
# s1.remove(100)
s1.discard(100)
s1.pop()
print(s1)
s1.clear()
#del(s1)
print(s1)

{50, 20, 10, 30}
set()

In [ ]:
s1={10,20,30,50,80}
s2={30,25,65,55,75}

s3=s1.union(s2)
print(s3)
s3=s1.intersection(s2)
print(s3)
s3=s1.difference(s2)
print(s3)
s3=s1.symmetric_difference(s2)
print(s3)

{65, 10, 75, 80, 50, 20, 55, 25, 30}
{30}
{80, 50, 10, 20}
{65, 10, 75, 80, 20, 25, 50, 55}

In [ ]:
s1.intersection_update(s2)
print(s1)

{30}

In [ ]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [ ]:

thisset={'apple','banana','cherry'}
tropical={'pineapple',"mango","papaya"}

thisset.update(tropical)

In [ ]:
thisset={'apple','banana','cherry'}
mylist=['kiwi',"orange"]
thisset.update(mylist)
print(thisset)

{'cherry', 'apple', 'banana', 'kiwi', 'orange'}

In [ ]:
thisset={'apple','banana','cherry'}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
thisset={'apple','banana','cherry'}
x=thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

In [ ]:
thisset={'apple','banana','cherry'}
thisset.clear()
print(thisset)

set()

In [ ]:
thisset={'apple','banana','cherry'}
del thisset
print(thisset)

In [ ]:
def power_set(s):
    result=[[]]
    for elem in s:
        result.extend([subset + [elem] for subset in result])

    return [set(subset) for subset in result]

input_set={1,2,3}
powerset=power_set(input_set)
print("Power set: ",powerset)

Power set:  [set(), {1}, {2}, {1, 2}, {3}, {1, 3}, {2, 3}, {1, 2, 3}]