<a href="https://colab.research.google.com/github/Cyanide2119/python-training/blob/main/Python5b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recursion

In [ ]:
def pow(n,p):
    if p==1: #edge case
        return n

    return n*pow(n,p-1)

x=pow(5,3)
print(x)

125

time complexity: O(p)

or

In [ ]:
def pow(n,p):
    if p==0:
        return 1
    p-=1
    return n*pow(n,p)

x=pow(5,3)
print(x)

125

In [ ]:
def pow(n,p):
    if(p==1):
        return n


    if p%2!=0:
        return n*pow(n,p//2)*pow(n,p//2)
    else:
        return pow(n,p//2)*pow(n,p//2)



x=pow(2,7)
print(x)

128

time complexity: O(log(n))

Print
54321
5432
543
54
5

In [ ]:
"""
Print
54321
5432
543
54
5

"""


def rec1(m):
    if m==1:
        print(m)
        return
    print(m,end=" ")

    return rec1(m-1)

def rec(n):

    if n==1:

        return 1

    print(n,end=" ")
    m=n
    rec1(m-1)

    return rec(n-1)

n=5

print(rec(n))

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
def rec1(m,x):
    if m==1:
        print(x)
        return

    print(x-1,end=" ")

    return rec1(m-1,x-1)

def rec(n,x):

    if x==1:
        print(n)
        return


    print(n,end=" ")
    m=x-1
    rec1(m,x)

    return rec(n,x-1)

n=5
x=n
print(rec(n,x))

5 4 3 2 2
5 3 2 2
5 2 2
5 2
5
None

In [ ]:
def print_pattern(n,m):
    if n==0:
        return
    for i in range(5,m-1,-1):
        print(i,end=" ")
    print()
    print_pattern(n-1,m+1)

n=5
print_pattern(n,1)

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

Write a pgm to convert a decimal number to binary

In [ ]:
def rec(n):
    if n==1:
        return
    if n%2==0:
        print(1,end="")
    else:
        print(0,end="")

    return rec(n//2)

rec(22)

1001

Write a pgm to convert any base to decimal number

direct function - int()

In [ ]:
x='1A'
base=16
print(int(x,base))

print()

print(int('5E',16))

26

94

## 2nd Lowest Score Student

In [ ]:
if __name__ == '__main__':
    from collections import defaultdict
    m=defaultdict(int)

    for _ in range(int(input())):
        name = input()
        score = float(input())

        m[name]=score


    lst=[]
    for i in m.values():
        lst.append(i)

    lst.sort()

    lst2=[]
    for i in lst:
        if i not in lst2:
            lst2.append(i)

    k=lst2[1]

    lst1=[]
    for i,j in m.items():
        if j==k:

            lst1.append(i)

    lst1.sort()
    for i in lst1:
        print(i)

In [ ]:
if __name__ == '__main__':

    students=[]

    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name,score])
    scores=set(student[1] for student in students)
    second_lowest_grade=sorted(scores)[1]
    second_lowest_students=[student[0] for student in students in ]