<a href="https://colab.research.google.com/github/Cyanide2119/python-training/blob/main/Python_Training2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

In [ ]:
t=(10,20,30)
(a,*b)=t
print(a,b)

10 [20, 30]

In [ ]:
def create_tuples():
    tuple1=(1,2,3,4,5)
    tuple2=('a','b','c','d','e')
    tuple3=("apple","banana","cherry")

    return tuple1, tuple2, tuple3

def access_tuple_items(tuple1,tuple2):
    print("Tuple 1: ",tuple1)
    print("First element of tuple1: ", tuple1[0])
    print("Last element of tuple1: ", tuple1[-1])
    print("Tuple 2: ", tuple2)
    print("Second element of tuple 2: ", tuple2[1])
    print("Second last element of tuple2: ", tuple2[-2])

    print(tuple1[0:5])

def unpacking_tuple1(tuple3):
    (green, yellow, red)=tuple3
    print(green)
    print(yellow)
    print(red)

def unpacking_tuple2(fruits):
    fruits=("apple","banana","cherry","strawberry","raspberry")
    (green,yellow,*red)=fruits
    print(green)
    print(yellow)
    print(red)


def change_tuples(tuple1,tuple2):
    list1=list(tuple1)
    list2=list(tuple2)
    list1.append(6)
    list2.remove('c')
    tuple1=tuple(list1)
    tuple2=tuple(list2)
    return tuple1,tuple2

def loop_through_tuple(tuple1):
    print("Looping through tuple1 using for loop: ")
    for item in tuple1:
        print(item)

    print("\nLooping using while loop and index numbers: ")
    index=0
    while index<len(tuple1):
        print(tuple1[index])
        index+=1

def join_tuples(tuple1,tuple2):
    tuple3=tuple1+tuple2
    return tuple3

tuple1,tuple2,tuple3=create_tuples()
access_tuple_items(tuple1,tuple2)

unpacking_tuple1(tuple3)
print()

fruits=("apple","banana","cherry","strawberry","raspberry")
unpacking_tuple2(fruits)

print()

tuple1,tuple2=change_tuples(tuple1,tuple2)
print("After making changes: ")
access_tuple_items(tuple1,tuple2)
print()

tuple3=join_tuples(tuple1, tuple2)
print("Joined tuple: ",tuple3)

Tuple 1:  (1, 2, 3, 4, 5)
First element of tuple1:  1
Last element of tuple1:  5
Tuple 2:  ('a', 'b', 'c', 'd', 'e')
Second element of tuple 2:  b
Second last element of tuple2:  d
(1, 2, 3, 4, 5)
apple
banana
cherry

apple
banana
['cherry', 'strawberry', 'raspberry']

After making changes:
Tuple 1:  (1, 2, 3, 4, 5, 6)
First element of tuple1:  1
Last element of tuple1:  6
Tuple 2:  ('a', 'b', 'd', 'e')
Second element of tuple 2:  b
Second last element of tuple2:  d
(1, 2, 3, 4, 5)

Joined tuple:  (1, 2, 3, 4, 5, 6, 'a', 'b', 'd', 'e')

In [ ]:
my_tuple=(1,2,3)
another_tuple=tuple([4,5,6])
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:3])
combined_tuple=my_tuple+another_tuple
print(combined_tuple)
repeated_tuple=my_tuple*3
print(repeated_tuple)
print(2 in my_tuple)
print(4 not in my_tuple)
print(len(my_tuple))
for item in my_tuple:
    print(item)

string_to_tuple=tuple("Hello")
print(string_to_tuple)
list_to_tuple=tuple([1,2,3])
print(list_to_tuple)

print(my_tuple.count(2))
print(my_tuple.index(3))

1
3
(2, 3)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
True
3
1
2
3
('H', 'e', 'l', 'l', 'o')
(1, 2, 3)
1
2

In [ ]:
tuple_of_integers=(5,2,8,1,3)
sorted_tuple=tuple(sorted(tuple_of_integers))
print("Sorted tuple: ",sorted_tuple)

Sorted tuple:  (1, 2, 3, 5, 8)

## Customized sort

In [ ]:
tuple_of_tuples=((1,'apple'),(2,'orange'),(3,'banana'))
sorted_tuple=sorted(tuple_of_tuples, key=lambda x: x[1])
print("Sorted tuples: ",sorted_tuple)

Sorted tuples:  [(1, 'apple'), (3, 'banana'), (2, 'orange')]

## Tuple comprehension

In [ ]:
s=tuple(x**2 for x in range(1,6))
print(s)

(1, 4, 9, 16, 25)

## Zipping of tuples/lists

In [ ]:
l1=[1,2,3]
l2=['a','b','c','d']

print(tuple(zip(l1,l2)))

((1, 'a'), (2, 'b'), (3, 'c'))

## Named tuple

In [ ]:
from collections import namedtuple
import math

Point=namedtuple('Point',['x','y'])
point1=Point(1,2)
point2=Point(4,6)

distance=math.sqrt((point2.x-point1.x)**2 + (point2.y-point1.y)**2)
print("Distance between point1 and point2: ",distance)

Distance between point1 and point2:  5.0

## Filter and Reduce functions

In [ ]:
t=(1,2,4,6,8,7,3,10)
t1=tuple(filter(lambda x: x%2==0,t))
print(t1)

(2, 4, 6, 8, 10)

In [2]:
t=(1,2,4,6,8,7,3,10)

from functools import reduce

def add(x,y):
    return x+y

result=reduce(add,t)
print("Result of reducing tuple: ",result)

Result of reducing tuple:  41