<a href="https://colab.research.google.com/github/Cyanide2119/python-training/blob/main/PythonTraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Marks

In [ ]:
x=int(input("Enter the marks "))

if x>80 and x<=100:
    print("Distinction")
elif x>60 and x<=80:
    print("Pass")

elif x<60:
    print("Fail")

else:
    print("Invlaid marks")

Enter the marks 80
Pass

# prime

In [ ]:
x=int(input())

for i in range(2,x):
    if x%i==0:
        print("Not prime")
        break;

if i==x-1:

    print("Prime")

6
Not prime

# Armstrong number

In [ ]:
n=input()

y=list(n)

x=0
for i in y:
    i=int(i)
    x+=i**len(y)

print(x)
print(n)

n=int(n)
if x==n:
    print("Armstroong")
else:
    print("NOT ARMSTRONG")

370
370
370
Armstroong

# Strong number

In [ ]:

n=input("Enter the number")

y=list(n)

x=0
for i in y:
    m=1
    i=int(i)
    for j in range(1,i+1):
        m=m*j

    x+=m

print(x)
print(n)

n=int(n)
if x==n:
    print("strong")
else:
    print("NOT STRONG")

Enter the number145
145
145
strong

# Spy number

In [ ]:

n=input("Enter the number")

y=list(n)

sum=0
pro=1
for i in y:
    i=int(i)
    sum+=i
    pro*=i

if sum==pro:
    print("spy number")

else:
    print("Not a spy number")

# Neon number

In [ ]:

n=input("Enter the number")

m=int(n)
m=m*m
m=str(m)
m=list(m)


sum=0
pro=1
for i in m:
    i=int(i)
    sum+=i

if sum==int(n):
    print("NEon")

else:
    print("not neon")

# Prime numbers in a given range

In [ ]:
x=int(input("Enter the starting range "))
y=int(input("Enter the ending range "))

lst=[]
for i in range(x,y):
    lst.append(i)


for i in range(x+1,y):
    for j in range(2,i//2):
        if i%j==0:
            lst.remove(i)
            break

print(lst)
print("Number of prime numbers:",len(lst))

Enter the starting range 5
Enter the ending range 30
[5, 7, 11, 13, 17, 19, 23, 29]
Number of prime numbers 8

# Palindrome number

In [ ]:
n=input()
n=list(n)

i=0
j=len(n)-1
while(i<j):
    if n[i]==n[j]:
        i+=1
        j-=1

    else:
        print("Not palindrome")

        exit(0)
        break


print("Palindrome")

121121
Palindrome

# Happy Number

In [ ]:
n=input()

y=list(n)

print(y)

x=0
while(1):
    x=0
    y=list(y)
    print(y)

    for i in y:
        i=int(i)
        x+=i**2

    if x==4:
        print("False")
        break


    elif x==1:
        print("True")
        break


    elif x!=1:
        y=x
        y=str(y)

4
['4']
['4']
['1', '6']
['3', '7']
['5', '8']
['8', '9']
['1', '4', '5']
['4', '2']
['2', '0']
False

In [ ]:
num=int(input())
res=num

while res!=1 and res!=4:
    res=ishappy(res)


def ishappy(n):
    sum=0
    while(n!=0):
        r=n%10
        sum=sum+r**2
        n=n//10

    return sum

if res==1:
    print("Happy")
elif res==4:
    print("Not happy")

4
Not happy

# Factorial

In [ ]:
n=int(input())

x=1
for i in range(1,n+1):
    x=x*i

print(x)

4
24

In [ ]:
n=int(input())

def fact(n):
    if n==1:
        return 1
    return fact(n-1)*n

x=fact(n)
print(x)

4
24

# Fibonacci

In [ ]:
n=int(input("Enter the range: "))
x=0
y=1

while x<=n:

    print(x,end=" ")
    z=y
    y=x+y
    x=z

Enter the range: 20
0 1 1 2 3 5 8 13

Python pgm to find the best of two test avg marks out of 3 test marks accepted from the user

Develop a pyhton pgm to convert a binary number into decimal, octal and hexadecimal numbers using functions

Define a function F as Fn=Fn-1 + Fn-2. Write a python pgm which accepts a value for N(where N>0) as input and pass this value to the function. Display error message if the  condition for input value is not allowed

Write a python pgm to find the string similarity between 2 given strings

Write a python pgm that accepts a sentence and finds the number of words, digits, uppercase letters and lowercase letters

In [ ]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")

    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(5):
    for j in range(5):
        if j<=i:
            print("*",end=" ")

    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5):
    for j in range(5):
        if i<=j:
            print("*",end=" ")

    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5):
    for j in range(5):
        if i+j>=4:
            print("*",end=" ")

        else:
            print(" ",end=" ")

    print("\n")

        *

      * *

    * * *

  * * * *

* * * * *

In [ ]:
for i in range(5,0,-1):
    for j in range(7):
        if j<=i:
            print(" ",end=" ")

        else:
            print("*",end=" ")

    print("\n")

            *

          * *

        * * *

      * * * *

    * * * * *

In [ ]:
for i in range(5):
    for j in range(6):
        if j<=i:
            print(" ",end=" ")

        else:
            print("*",end=" ")

    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
for i in range(5):
    x=1
    for j in range(5):
        if j<=i:
            print(x,end=" ")
            x+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
x=1
for i in range(5):

    for j in range(5):
        if j<=i:
            print(x,end=" ")
    x+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

rectangle

In [ ]:
for i in range(5):
    for j in range(5):
        if i>0 and i<4:
            if j==0 or j==4:
                print("*",end=" ")
            else:
                print( " ",end=" ")
        else:
            print("*",end=" ")



    print()

* * * * *
*       *
*       *
*       *
* * * * *

Rectangle with two diagonals

In [ ]:
n=int(input())

for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:

            print("*",end=" ")

        else:
            print(" ",end=" ")



    print()

11
* * * * * * * * * * *
* *               * *
*   *           *   *
*     *       *     *
*       *   *       *
*         *         *
*       *   *       *
*     *       *     *
*   *           *   *
* *               * *
* * * * * * * * * * *

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
n=int(input())
m=int(input())

x=0
for i in range(n):
    for j in range(m):
        x+=1
        print(x,end="            ")
    print("\n")

6
7
1            2            3            4            5            6            7

8            9            10            11            12            13            14

15            16            17            18            19            20            21

22            23            24            25            26            27            28

29            30            31            32            33            34            35

36            37            38            39            40            41            42

Write a pgm to read a string from user and implement the logic to remove the characters which are at the odd  numbers of the index

In [ ]:
st=input("Enter the string: ")

y=''
for i in range(0,len(st),2):
    y=y+st[i]

print(y)

Enter the string: bghjguy
bhgy

Write a pgm to swap 2 nos using a third variable

In [ ]:
a=int(input())
b=int(input())
x=a
a=b
b=x

print(a,b)

In [ ]:
a=int(input())
b=int(input())

a=a+b
b=a-b
a=a-b

print(a,b)

7
10
10 7

## Collections

In [14]:
l1=[1,2,3,4,2,3,7]
print(type(l1))
print(type(l1[3]))
print(len(l1))
print(l1[0:5])
print(l1[-3:])

<class 'list'>
<class 'int'>
7
[1, 2, 3, 4, 2]
[2, 3, 7]

In [27]:
li=["cat","dog","pig","duck"]
li[0:3]=[]
print(li)

li=["cat","dog","pig","duck"]
li[0:3]=["camel"]
print(li)

li=["cat","dog","pig","duck"]
li[1:2]=["elephant","monkey","crow","eagle"]
print(li)

['duck']
['camel', 'duck']
['cat', 'elephant', 'monkey', 'crow', 'eagle', 'pig', 'duck']

list - append, insert, extend

In [30]:
li=["cat","dog","pig","duck"]
li.insert(2,"camel")
print(li)

lj=["cow","parrot"]
li.extend(lj)
print(li)

['cat', 'dog', 'camel', 'pig', 'duck']
['cat', 'dog', 'camel', 'pig', 'duck', 'cow', 'parrot']

list- remove, pop, clear, del

In [37]:
li=["cat","dog","pig","duck"]
li.remove("dog")
print(li)

li=["cat","dog","pig","duck"]
li.pop(2)
print(li)

li=["cat","dog","pig","duck"]
li.clear()
print(li)

li=["cat","dog","pig","duck"]
del(li[2])
print(li)
del(li)
print(li)

['cat', 'pig', 'duck']
['cat', 'dog', 'duck']
[]
['cat', 'dog', 'duck']

NameError: name 'li' is not defined

in

In [40]:
li=["cat","dog","pig","duck"]
if "pig" in li:
    print("Exists")

Exists

In [42]:
l1=["apple"]
print(l1)

['apple']

In [59]:
l1=["apple","banana","cherry","mango"]
l2=[10,20,30,40]
l3=[True, False]
l4=list(("Jack"))

l6=list(["Jack"])
l5=list(["Jack","John"])


print(l4)
print(l6)
print(l5)
print(l1[0])
print(l1[0:4])
print(l1[:4])
print(l1[0:])
print(l1[:])
print(l1[-4:-1])

print(l1[-1:-4])
x=len(l1)
print(x)
print(type(l1))
print(type(l1[0]))

if "apple" in l1:
    print("Exists")

l1[1]="Kiwi"
print(l1)
l1[1:3]=["Pineapple","Dates","x"]
print(l1)

lst=["apple","banana","cherry"]
lst[1:2]=["blackcurrant","watermelon"]
print(lst)

['J', 'a', 'c', 'k']
['Jack']
['Jack', 'John']
apple
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry']
[]
4
<class 'list'>
<class 'str'>
Exists
['apple', 'Kiwi', 'cherry', 'mango']
['apple', 'Pineapple', 'Dates', 'x', 'mango']
['apple', 'blackcurrant', 'watermelon', 'cherry']